
<div class="container-fluid">
 
    <!-- <div class="container-fluid airHeader">
        <div class="header-logo">
            <img [attr.loading]="'lazy'" src="/imgs/aironline-logo.png" alt="Lazy Loaded Image">
        </div>

        <div class="contact-info flex">
            <div class="row phone-contact">
                <div class="phone-icon">
                    <img src="/imgs/phone-icon.png" alt="" srcset="">
                </div>
                <div class="phone-info">
                    <div class="phone-text"><span>Call us.</span></div>
                    <div class="phone-number"><span>+91 83800 05660</span></div>
                </div>
            </div>
            <div class="row email-contact">
                <div class="email-icon">
                    <img src="/imgs/email-icon.png" alt="" srcset="">
                </div>
                <div class="email-info">
                    <div class="phone-question"><span>Question?</span></div>
                    <div class="phone-number"><span>Send us an e-mail</span></div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid airHeader">
        <div class="header-logo">
            <img [attr.loading]="'lazy'" src="/imgs/aironline-logo.png" alt="Lazy Loaded Image">
        </div>
    
        <div class="contact-info">
            <div class="row phone-contact">
                <div class="phone-icon">
                    <img src="/imgs/phone-icon.png" alt="" srcset="">
                </div>
                <div class="phone-info">
                    <div class="phone-text"><span>Call us.</span></div>
                    <div class="phone-number"><span>+91 83800 05660</span></div>
                </div>
            </div>
            <div class="row email-contact">
                <div class="email-icon">
                    <img src="/imgs/email-icon.png" alt="" srcset="">
                </div>
                <div class="email-info">
                    <div class="phone-question"><span>Question?</span></div>
                    <div class="phone-number"><span>Send us an e-mail</span></div>
                </div>
            </div>
        </div>
    </div>
    
    <app-navbar></app-navbar>
</div>